*{
    font-family: 'Belanosima', sans-serif;

}

.page-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.imgrobo{
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{
    margin-top: 15vh;
}

h1{
    font-size: 45px;
    font-weight: 600;
}
h2{
    
    font-weight: 400;
    font-size: 20px;
    justify-content: center;
    display: flex;
}